@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,200;1,500&display=swap');
@media (min-width:1279px) {
    body {
        display:none;
    }
}
body {
    font-family: 'Montserrat';
    margin: 0;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
nav a {
    color: white
}
.nav:hover {
    text-decoration: underline;
}
.button a {
    padding: 15px 35px;
    background-color: #4985FF;
    color: white;
    border-radius: 30px;
    font-size: 16px;
}
a.nav {
    font-size: 16px;
    margin: 40px;
}
nav {
    display: flex;
    margin-right: 20%;
    justify-content: end;
}
header {
    background-image: url('studio.jpg');
    height: 900px;
}
.main-text {
    margin-top: 240px;
}
h1 {
    font-size: 16px;
    color: white;
    text-align: center;
}
.main-text h2 {
    font-size: 48px;
    color: white;
    text-align: center;
}
.main-text div {
    display: flex;
    justify-content: center;
}
.block-1 {
    height: 600px;
    
}
.services {
    margin-top: 100px;
}
.services h2 {
    text-align: center;
    font-size: 32px;

}
.services p {
    color: gray;
    text-align: center;
    font-size:16px;
}
div.services-block {
    display: flex;
    margin-top: 80px;
    justify-content: center;
}
.service-point {
    display: flex;
    margin: 60px;
}
.service-text {
    width: 200px;
    margin-left: 20px;
}
.services .button {
    display: flex;
    justify-content: center;
}
.block-2 {
    display: block;
    height: 800px;
    background-color: #F6F6F8;
}
.standart-text {
    display: flex;
    margin: 0 auto 80px auto;
    width: 1200px;
    align-items: center;
    padding-top: 150px;
}
.text-standatr h3 {
    font-size: 36px;
}
.text-standatr p {
    color: gray;
    font-size:16px; 
}
.text-standatr {
    margin-left: 50px;
}
.standatr-data {
    display: flex;
    justify-content: center;
}
.data {
    margin-right: 100px;
}
.score {
    display: flex;
}
.score img {
    width: 40px;
    height: 40px;
}
.data p {
    margin: 10px 0 0 0;
    color: gray;
    text-align: center;
    font-size:16px;
}
.data h4 {
    margin: 0 0 0 10px;
    text-align: center;
    font-size: 36px;
}
.block-3 {
    background-color: #504DC2;
    height: 500px;
}
.text-block3 {
    display: flex;
    width: 1200px;
    justify-content: center;
    padding-top: 100px;
    margin: 0 auto;
}
.text-block3 h3 {
    font-size: 36px;
    color: white;
}
.text-block3 .button  {
   padding: 60px 0 0 200px;
}
.block-4 {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    height: 500px;
}
.jobs {
    position: relative;
    bottom: 180px;
    margin: 40px;
}
span {
    color: #4985FF;
}
.jobs h5 {
    font-size: 18px;
}
.jobs p {
    font-size: 16px;
    color: grey;
    padding-top: 30px;
}
.block-5 {
height: 700px;
background-color: #F6F6F8;
padding: 80px;
}
.block-5 h3 {
    font-size: 36px;
    text-align: center;
}
.block-5 p {
    color: gray;
    text-align: center;
    font-size: 16px;
}
.projects {
    display: flex;
    justify-content: center;
}
.img-projects {
    padding: 70px 30px 50px 30px;
}
.block-5 .button {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.block-6 {
    height: 570px;
    background-image: url('studio.png');
}
.block-6 h3 {
    padding-top: 160px;
    color: white;
    font-size: 36px;
    text-align: center;
    margin: 0;
}
.block-6 p {
    color: white;
    font-size: 16px;
    text-align: center;
}
.video {
display: flex;
justify-content: center;
position: relative;
bottom: 200px;
}
.block-7 h6 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
    
}
.block-7 p {
    text-align: center;
    font-size: 16px;
    color: gray;
}
.input {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 60px;
    box-shadow: black;
}
input {
    padding: 10px 50px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}
button {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 30px;
    background-color: #4985FF;
    color: white;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}
footer {
    display: flex;
    justify-content: center;
    background-color: #F6F6F8;
}
footer h6 {
    font-size: 18px;
    margin: 0;
}
.contact-info {
    padding: 30px;
}
li {
    padding-top: 10px;
    color: gray;
}
li a {
    color: gray;
}
.div-2022  {
    background-color: #f2f2f2;
}
.div-2022 p {
    margin: 0 auto;
    color: gray;
    text-align: center;
}
